// RESET GLOBAL STYLES 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

img {
  max-width: 100%;
}

html {
  // font-family: $fontMarai;
  scroll-behavior: smooth;
  overflow-x: hidden;
  position: relative;
}

body {
  // font-family: $fontMarai;
  direction: ltr;
  text-align: start;
  position: relative;
  background-color: #fff;
  overflow-x: hidden;
  // background-image: url('../images/body-bgsvg.svg');


  // CHANGE SCROLL BAR COLOR 

  &::-webkit-scrollbar {
    background-color: #EEEDF3;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    Background-color: $mainColor;
    border-radius: 25px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #EEEDF3;
    width: 10px;

  }
}

// GLOBAL STYLE FOR ALL TEXT 
.text {
  overflow: hidden;
  color: $textColor;
  line-height: 2;
  // font-family: $fontMarai;
  // text-wrap: balance;
}

// DIV WRAP IMAGES AND VEDIOS 
.image-wrap {

  img,
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}

figure.image-wrap {
  margin: 0;
}

// CLASS FOR BUTTONS RESET 
.btn {
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: none;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

//   INPUTS  RESET 
input,
select,
textarea {
  font-family: inherit;
  outline: none;
  width: 100%;
  border: 0;


  &:focus {
    outline: none;
  }
}

textarea {
  resize: none;
  height: 150px;
}

input:-internal-autofill-selected {
  background-color: transparent !important;
}

// MAIN BUTTON OF WEBSITE 
.main-btn {
  background-color: $mainColor;
  padding: 10px;
  min-width: 170px;
  width: fit-content;
  color: #fff;
  text-align: center;
  border: 1px solid $mainColor;
  font-size: 18px;
  @include displayFlex();
  gap: 10px;
  position: relative;
  z-index: 3;
  transition: $transition;
  border-radius: 6px;

  &:hover {
    transition: $transition;
    background-color: #fff;
    color: #000;
  }

  &.reversed {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;

    &:hover {
      background-color: $mainColor;
      color: #fff;
      border: 2px solid $mainColor;
    }
  }


}

// OVERLAY 
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #0000007d;
  z-index: 3;
}

.head {
  text-align: start;
  margin-bottom: 30px;

  >h3 {
    font-size: 30px;
    line-height: 1;
    margin-bottom: 20px;
    text-align: start;
    position: relative;
    width: fit-content;
    margin: 0 0 15px 0;
    // padding: 20px 0;
    // animation: typewriter 4s steps(44) 1s 1 normal both,
    //   blinkTextCursor 500ms steps(44) infinite normal;
    // overflow: hidden;
    // display: flex;
    // align-items: center;
    gap: 20px;
    color: #000;
    padding-bottom: 12px;

    &::before {
      content: "";
      position: absolute;
      inset-inline-start: 0;
      bottom: 0;
      height: 3px;
      width: 40%;
      border-radius: 6px;
      background-color: $mainColor;
    }
  }

  &.centered {
    text-align: center;

    h3 {
      text-align: center;
      margin: 0 auto 20px auto;
      // color: $mainColor;
      font-size: 28px;
      font-weight: bold;

      &::before {
        left: 0;
        right: 0;
        margin: auto;
      }
    }

    .text {
      margin: auto;
    }
  }

  .text {
    max-height: 75px;
    font-size: 18px;
    line-height: 2;
    // width: 50%;
    // margin: 0 auto 20px;
    color: $textColor;
    width: 75%;
  }

  &.borderd {
    border: 1px solid $mainColor;
    padding: 20px;
    border-radius: 16px;
    overflow: hidden;
  }


}

// HIDE STATIC FOOTER OF WPML 

.wpml-ls-statics-footer {
  display: none;
}

// OWL CAROUSEL WRAPPER RTL 
.lg-outer {
  direction: ltr;
}


// DIV TAKES OVER ALL CONTENT USED FOR CLIKING TO CLOSE NAVBAR AND MODALS 
.overlay-all {
  opacity: 0;
  visibility: hidden;
  transition: $transition;
  z-index: 30;
  background-color: #0000009c;

  &.active {
    opacity: 1;
    visibility: visible;
    transition: $transition;
  }
}


// GLOBAL STYLE FOR IFRAME 
iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// CLASS FOR ALL PAGES TO CONTROL FIXED NAVBAR 
.padding-page {
  padding-top: 120px;
  padding-bottom: 50px;
}





// CLASS FOR HAMBURGER ICON FOR  MENU 

.toggle-btn {
  display: flex;
  flex-direction: column;
  width: 31px;
  height: 21px;
  justify-content: space-between;
  cursor: pointer;
  // order: 2;
  flex: 0 0 10.5%;
  max-width: 32px;

  .bar {
    background-color: $mainColor;
    width: 100%;
    height: 3px;
  }
}



// GLOBAL STYLES FOR CONTACT LINKS 
.contact {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  // color: $textColor;

  li {
    padding: 10px 0;

    a {
      @include displayFlex();
      gap: 10px;

      svg {
        // background-color: $mainColor;
        color: $mainColor;
        padding: 5px;
        border-radius: 50%;
        font-size: 22px;
      }
    }
  }
}

// GLOBAL STYLES FOR SOCIAL LINKS 
.social-links {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;

  li {
    border-radius: 50%;

    a {
      width: 27px;
      height: 27px;
      padding: 10px;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #29235C80;
      color: #fff;
    }

    // IF NEED TO COLOR EACH ICON WITH ITS ORIGINAL COLOR 
    // &.instagram {
    //   a {
    //     background: linear-gradient(150deg, rgba(250, 225, 0, 1) 0%, rgba(252, 183, 32, 1) 20%, rgba(255, 121, 80, 1) 35%, rgba(255, 28, 116, 1) 56%, rgba(108, 28, 209, 1) 99%);
    //   }
    // }

    // &.whatsapp {
    //   a {
    //     background-color: #67D449;
    //   }
    // }

    // &.twitter {
    //   a {
    //     background-color: #41A1F2;
    //   }
    // }

    // &.facebook,
    // &.messenger {
    //   a {
    //     background-color: #41A1F2;
    //   }
    // }

    // &.snapchat {
    //   a {

    //     background-color: #fffc008c;
    //   }
    // }

  }
}

// class for iframe map 
.location {
  .map {
    height: 400px;
  }
}

// GLOBAL STYLES FOR OWL NAV AND OWL DOTS 
.owl-carousel {
  .owl-dots {
    position: absolute;
    bottom: -40px;
    // inset-inline-end: 30px;
    display: flex;
    align-items: center;
    // justify-content: center;
    width: 100%;
    gap: 10px;
    justify-content: center;

    .owl-dot {
      // transition: $transition;
      // background: #808080;
      // border-radius: 50%;
      // padding: 5px;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      // width: 25px;
      // height: 25px;
      // color: #fff;

      span {
        // background-color: #fff;
        width: 10px;
        height: 10px;
        margin: 0;
        background-color: #6D5D5D;
        transition: $transition;
        display: block;
        border-radius: 50%;
      }

      &.active {
        // background-color: #fff;
        // transition: $transition;

        span {
          background-color: $mainColor;
          transition: $transition;
          // width: 25px;
          // height: 8px;
          // display: block;
          border-radius: 6px;

        }
      }
    }
  }


  .owl-nav {
    position: absolute;
    top: 58%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translate(0, -50%);
    display: flex;
    align-items: center;
    // justify-content: center;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    height: 0;

    button.owl-prev,
    button.owl-next {
      // position: absolute;
      color: $mainColor;
      font-size: 18px;
      margin: 0 5px;
      // background-color: transparent;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #fff;
      // background-color: #fff;
      // transition: $transition;


      svg {
        color: $mainColor;
        font-size: inherit;
        background-color: transparent;
        margin: 0;
        padding: 0;
        // width: 100%;
        // height: 100%;
        // border-radius: 50%;
        // border: 2px solid #fff;
        // width: 20px;
        // height: 20px;
      }

    }

    .owl-prev {
      inset-inline-start: 20px;
      bottom: 20px;
    }

    .owl-next {
      inset-inline-start: 40px;
      bottom: 20px;

    }

  }
}

// START EACH SECTION WITH SECTION TAG WITH PADDING 
section {
  padding: 50px 0;
}