// DISPLAY FLEX MIXIN

@mixin displayFlex($align: center, $justify: center, $gap: 20px) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

/* display grid mixin 
 DEFAULT VALUE 265PX DIVIDE WRAPPER TO 3 COLUMS 
 YOU NEED TO PUT VALUE IN MIXIN WITH PX  >>>  EXAMPLE 
@include displayGrid(265px);
*/
@mixin displayGrid($px: 265, $gap: 20px, $fit: auto-fill) {
  display: grid;
  grid-template-columns: repeat($fit, minmax($px, 1fr));
  gap: $gap;
}
