// IMPORT FONT FILES  


// DEFINE MAIN VARIABLES 

// TRANSITIONS WITH DIFFRENT TIMES 
$transition:all .5s ease-in-out;
$transition3:all .3s ease-in-out;
$transition7:all .7s ease-in-out;

/* MAIN FONT FAMILY */
$textColor:#7f7f7f;
/* TEXT COLOR FOR  WEBSITE */
$mainColor:#6E3627;
/* MAIN COLOR FOR  WEBSITE */
$greenColor : #1C453D;
/* SECONDARY COLOR FOR  WEBSITE */
$lightMainColor:#E6CA5533;
/* LIGHT  COLOR FOR WEBSITE */
$backgroundColor:rgb(248, 249, 245);
/* background color FOR WEBSITE  */
// $goldColor:#CFAD7E;